
<div id="body1" class="container-fluid border d-flex flex-column justify-content-between min-vh-100 nocontain">

    <div class="row">
        <div class="col d-flex justify-content-center">

            <div class=" d-flex flex-column" style="width: 400px; margin-top: 100px;">

                <a asp-controller="Home" asp-action="Submitrequest" style="text-decoration:none">

                    <div class="d-grid" style="margin-top: 70px;">
                        <button class="btn btn-info text-light" type="submit">Submit A Request</button>
                    </div>
                </a>

                <a asp-controller="Home" asp-action="Patientlogin" style="text-decoration:none">
                    <div class="d-grid" style="margin-top: 40px;">
                        <button class="btn btn-primary text-light" type="submit">Registered Patients</button>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
