<p-dialog header="Create New Request" [(visible)]="newRequest" [style]="{ 
    fontWeight: '500',  
    border: '2px solid black'
}">

    <ng-template pTemplate="p-dialog-content">
        <div class="d-flex justify-content-center align-items-center mx-3 mt-3">
            <p-button label="For Me" severity="info" [outlined]="!forMeRequest" (click)="forMeRequest=true"
                (click)="someoneElseRequest=false">
            </p-button>
            <p-button label="Someone Else" severity="info" [outlined]="!someoneElseRequest"
                (click)="someoneElseRequest=true" (click)="forMeRequest=false" class="ms-3">
            </p-button>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="d-flex justify-content-end align-items-center mx-2">
            <p-button label="Ok" severity="info" [outlined]="false" [disabled]="(!forMeRequest && !someoneElseRequest)"
                (onClick)="submitRequest()">
            </p-button>
            <p-button label="cancel" severity="info" [outlined]="true" class="ms-3" (click)="newRequest=false">
            </p-button>
        </div>
    </ng-template>
</p-dialog>

<div id="body1" class=" border d-flex flex-column justify-content-between min-vh-100">

    <div class="">
        <app-dashboard-header></app-dashboard-header>
    </div>

    <div>
        <div class="mb-3  p-3  mt-3">
            <div class="row mx-1 ">
                <div class="row mt-4">
                    <h4 class="darktext">Medical History</h4>
                </div>
                <div class="row shadow-lg bg-white rounded-3 mx-1">
                    <div class="col-12 p-3 d-flex justify-content-end">

                        <p-button type="button" [outlined]="true" severity="info" (onClick)="newRequestFunction()">
                            <span class="d-none d-md-inline" (click)="someoneElseRequest=false"
                                (click)="forMeRequest=false">
                                Create new Request
                            </span>
                            <i class="bi bi-plus d-inline d-md-none"></i>
                        </p-button>
                    </div>

                    <div class="col-12 d-none d-md-block">
                        <div class="table-responsive">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Created Date</th>
                                        <th scope="col">Current Status</th>
                                        <th scope="col">Document</th>
                                    </tr>
                                </thead>

                                <tbody class="table-group-divider">
                                    
                                    <tr *ngFor="let item of dashboardtableContent" class="dashboardRow">
                                        <td>{{ item.createdDate | date:'d MMMM yyyy' }}</td>
                                        <td>{{item.statusName}}</td>
                                        <td>
                                                <p-button [outlined]="true" severity="info" id="documentButton"
                                                    *ngIf="item.documentCount>0" (onClick)="getViewDocument(item.requestId)">
                                                    {{item.documentCount}} Documents 
                                                </p-button>
                                            <span *ngIf="!(item.documentCount>0)">No Document</span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-12 mb-3">

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="">
        <app-submitrequest-footer></app-submitrequest-footer>
    </div>
</div>