:host ::ng-deep #documentButton .p-button {
    width: fit-content;
}

.dashboardRow {
    height: 60px;
}

// :host ::ng-deep .p-dialog-titlebar {
//     background-color: #0dcaf0;
//     color: white;
// }

:host ::ng-deep .p-dialog-header {
    background-color: #0dcaf0;
    color:white;
}

:host ::ng-deep .p-dialog{
    width: 40%;
}

@media (max-width: 768px) {
    :host ::ng-deep .p-dialog{
        width: 70%;
    }
    
}
