<div class="col">
    <div id="firstheader" class="row"
         style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="col d-flex justify-content-start ps-5">
            <img class="HelloDoclogo" src="../../../../assets/images/Fig56. Patient site 1.png" alt="">
        </div>
        <div class="col-auto mt-3 me-2">
            <p-button label="" [rounded]="true" [outlined]="true" [raised]="true" severity="info">
                <i class="pi pi-moon" style="font-size: 2rem"></i>
            </p-button>
        </div>
    </div>
</div>

