<div id="submitrequestscreen" class="container-fluid d-flex flex-column justify-content-between min-vh-100 ">

    <div class="row row-cols-1 ">
        <app-submitrequest-header></app-submitrequest-header>
    </div>

    <div class="row">

        <div class="col d-flex justify-content-center  ">

            <div class="d-flex flex-column " style="width: 400px;">

                <div class="row align-items-center ">
                    <div class="col fs-4 ms-3">I am a...</div>
                    <div class="col">
                        <a role="button" class="btn btn-outline-info" routerLink="">Back</a>
                    </div>
                </div>

                <div class="row flex-column justify-content-start mt-1">
                    <div class="col ms-3">
                        <a role="button" class="btn btn-outline-primary text-start mt-3 patient"
                            routerLink="/patient/patientrequest">
                            PATIENT
                        </a>
                    </div>
                    <div class="col ms-3">
                        <a role="button" class="btn btn-outline-info text-start mt-3 family">
                            FAMILY/FRIEND
                        </a>
                    </div>
                    <div class="col ms-3">
                        <a role="button" class="btn btn-outline-success text-start mt-3 concierge">
                            CONCIERGE
                        </a>
                    </div>
                    <div class="col ms-3">
                        <a role="button" class="btn btn-outline-danger text-start mt-3 business">
                            BUSINESS
                            PARTNERS
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <app-submitrequest-footer></app-submitrequest-footer>
    </div>

</div>