<div id="submitrequestscreen" class="container-fluid d-flex flex-column justify-content-between min-vh-100 ">

    <div class="row row-cols-1 ">
        <app-submitrequest-header></app-submitrequest-header>
    </div>

    <div class="row">

        <div class="col d-flex justify-content-center  ">

            <div class="d-flex flex-column " style="width: 400px;">

                <div class="row align-items-center ">
                    <div class="col fs-4 ms-3">I am a...</div>
                    <div class="col">
                        <p-button label="Back" [outlined]="true" severity="info" routerLink="" />
                    </div>
                </div>

                <div class="row flex-column justify-content-start mt-1">
                    <div class="col ms-3 mt-3">
                        <p-button label=" PATIENT" class="" severity="primary" routerLink="/patient/patientrequest" />                      
                    </div>
                    <div class="col ms-3 mt-3">
                        <p-button label="FAMILY/FRIEND" class="" severity="info" routerLink="/patient/otherrequest" (onClick)="OtherRequest(2)" />   
                    </div>
                    <div class="col ms-3 mt-3">
                        <p-button label="CONCIERGE" class="" severity="success" routerLink="/patient/otherrequest" (onClick)="OtherRequest(3)" />   
                    </div>
                    <div class="col ms-3 mt-3">
                        <p-button label=" BUSINESS PARTNERS" class="" severity="danger" routerLink="/patient/otherrequest" (onClick)="OtherRequest(4)" />   
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <app-submitrequest-footer></app-submitrequest-footer>
    </div>

</div>