
.patient {
    min-width: 60%;
    background-color: rgb(148, 148, 247);
}

.family {
    min-width: 60%;
    background-color: #bdedf7;
}

.concierge {
    min-width: 60%;
    background-color: rgb(197, 255, 197);
}

.business {
    min-width: 60%;
    background-color: rgb(255, 184, 196);
}